.device {
  color: transparent;
  width: max-content;
  padding: 0;
  width: 30px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;
}

.selected {
  background-color: #f53838;
  border-radius: 5px;
  padding: 3px;
}
