.selected-rate {
  background-color: #f53838;
  color: #ffffff;
}

.Rating-button {
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
  font-size: small;
  width: 25px;
  height: 25px;
}
