@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;0,900;1,600;1,700;1,900&display=swap");

.App {
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table-space {
  margin-top: 55px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.items {
  font-size: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.advanced-table {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

span {
  display: block;
}

.feedback-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
