@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Yusei Magic", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0 15px;
  }
}
